.error-wrapper {
    position: relative;
    width: 100%;
    height: 300px;
    border: 2px dashed #826800;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5e295;
    color: #826800;
    font-weight: 600;
    font-size: 1.3em;
}

.error-content button {
    margin: 0;
    color: none;
    background-color: transparent;
    padding: 0;
	border: none;
    border-radius: 0;
	font: inherit;
    font-weight: 600;
	cursor: pointer;
    position: relative;
}

.error-wrapper svg path {
    fill: #826800;
}

@media all and (max-width: 1000px) {
    .error-wrapper {
        height: 200px;
    }
}